.whitebox {
    max-width: 1400px;
    margin: auto;
    margin-top: 1%;
    background-color: seashell;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    
    }

body {
    background-color: #5cdb95;
}