{% extends 'base.html' %}
{% load static %}

{% block title %} {% endblock title %}


{% block content %}
    <div class="whitebox">
        <h1>Please fill the form below to continue!</h1>
    </div>

   

    <!--
    <div class="whitebox">
        <form action="" method = "POST">
            {% csrf_token %}
            {% for field in form %}
            <div class = "userform">
                {{ field.label_tag}}
                {{ field }}
                {{ field.errors }}
                <br>
            </div>
            {% endfor %}
            <button type="submit"> Next </button>
        </form>
    </div>
    -->

    <div class="whitebox1">
        <form action="" method = "POST">
            {% csrf_token %}
            <h2 class = "text">User information</h2>
            <br>
            {% for field in form %}
                
                <div class="mb-3">
                    
                    {{ field.label_tag}}
                    {{ field }}
                    {{ field.errors }}
                </div>
                
            {% endfor %}
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>


{% endblock content %}